@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size adjustments */
@media (max-width: 480px) {
	h1 {
	  font-size: 3xl;
	}
  
	h2, h3 {
	  font-size: xl;
	}
  
	p {
	  font-size: base;
	}
  }

@keyframes loopingBall {
	0%, 100% {
	  transform: translateY(0);
	  opacity: 1;
	}
	80% {
	  transform: translateY(100%);
	  opacity: 0;
	}
  }
  
  .animate-looping-ball {
	animation: loopingBall 2s linear infinite;
  }
  
  body {
	background: rgb(3, 7, 18);

  }

  .button:hover {
	transition: background-color 0.3s ease;
  }

 