@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size adjustments */
@media (max-width: 480px) {
	h1 {
	  font-size: 3xl;
	}
  
	h2, h3 {
	  font-size: xl;
	}
  
	p {
	  font-size: base;
	}
  }

@keyframes loopingBall {
	0%, 100% {
	  transform: translateY(0);
	  opacity: 1;
	}
	80% {
	  transform: translateY(100%);
	  opacity: 0;
	}
  }
  
  .animate-looping-ball {
	animation: loopingBall 2s linear infinite;
  }
  
  body {
	background: rgb(3, 7, 18);

  }

  .button:hover {
	transition: background-color 0.3s ease;
  }

  .solved-challenges-section {
	font-family: 'Fira Code', monospace;
	color: #d1d5db;
  
	.challenge-card {
	  background-color: #1E293B;
	  border: 1px solid #4b5563;
	  transition: all 0.3s ease;
  
	  &:hover {
		background-color: #334155;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  }
  
	  .challenge-title {
		color: #818cf8; /* Indigo */
		font-weight: bold;
	  }
  
	  .challenge-completed-date {
		font-size: 0.875rem;
		color: #9ca3af;
	  }
  
	  .challenge-description {
		display: none; /* Hidden by default, shown in tooltip */
	  }
	}
  }
  